<div class="bgimg-1">
  <div class="title-caption">
  <span class="border" style="font-size:35px">GOLD CITY TATTOO</span>
  </div>
</div>

<div style="color: gold;background-color: gray;text-align:center;padding:50px 80px;text-align: justify;">
  <div class="row">
  <div class="column left" style="background-color:transparent;">
    <h2>Hours</h2>
    <ul style="list-style-type:none;">
      <li><b>Mon: </b>12:00pm - 8:00pm</li>
      <li><b>Tue: </b>12:00pm - 8:00pm</li>
      <li><b>Wed: </b>12:00pm - 8:00pm</li>
      <li><b>Thr: </b>12:00pm - 8:00pm</li>
      <li><b>Fri: </b>12:00pm - 8:00pm</li>
      <li><b>Sat: </b>12:00pm - 8:00pm</li>
      <li><b>Sun: Appointment Only</b></li>
    </ul>
  </div>
  <div class="column right" style="background-color:transparent;">
    <h2>Booking</h2>
    <p>For booking, or any other inquiries, visit our Facebook page!</p>
    <p>We should have a proper calendar setup soon. &hearts;</p>
  </div>
  </div>
</div>

<div class="bgimg-2">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: gold;">THE ARTISTS</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <div class="row">
      <div class="column left-img" style="background-color:transparent;">
        <img src="/images/turbo.jpg" class="responsive">
        <h2 class="artist">TURBO</h2>
        <p>Some text about Turbo.</p>
        <p>Email to contact</p>
      </div>

      <div class="column right-img" style="background-color:transparent;">
        <img src="/images/meredith-4.jpg" class="responsive">
        <h2 class="artist">Meredith</h2>
        <p>Some text about Meredith.</p>
        <p>Email to contact</p>
      </div>
    </div>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">YEET</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-4">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">CONTACT</span>
  </div>
</div>
